<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="../static/ClientStyle.css">
</head>
<body>
    <header>
        <img src="../static/Capa%20Oversonic%20%231.png" alt="Imagem do Cabeçalho">
        <h1>Cadastro de Clientes Oversonic</h1>
        <p>Este é um formulário de cadastro de Clientes Oversonic. Por favor, preencha todas as informações necessárias.</p>
    </header>
    <div>
        <form id="cadastroForm" method="POST" onsubmit="enviarDadosAxios(event)">
            <div class="form-container" >
                <div class="form-column" >
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="CA15_NOME">

                    <label for="endereco">Endereço:</label>
                    <input type="text" id="endereco" name="CA15_ENDEREC">

                    <label for="complemento">Complemento:</label>
                    <input type="text" id="complemento" name="CA15_COMPLEM">

                    <label for="municipio">Município:</label>
                    <input type="text" id="municipio" name="CA15_MUNICP">

                    <label for="estado">Estado:</label>
                    <select id="estado" name="CA15_ESTADO">
                        <option value="">Escolha um</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>

                    <label for="genero">Gênero:</label>
                    <select id="genero" name="CA15_GENERO">
                        <option value="">Escolha um</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outros">Outros</option>
                        <option value="Prefiro não informar">Prefiro não informar</option>
                    </select>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="CA15_EMAIL">

                    <label for="tipo_midia">Tipo de Mídia:</label>
                    <select id="tipo_midia" name="CA15_TIPO_MIDIA">
                        <option value="">Escolha um</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Google">Google</option>
                        <option value="TikTok">TikTok</option>
                        <option value="Já sou cliente">Já sou cliente</option>
                        <option value="Indicação de amigo">Indicação de amigo</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
                <div class="form-column">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="CA15_CPF">

                    <label for="num">Número:</label>
                    <input type="text" id="num" name="CA15_NUM">

                    <label for="bairro">Bairro:</label>
                    <input type="text" id="bairro" name="CA15_BAIRRO">

                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="CA15_CEP">

                    <label for="regiao">Região:</label>
                    <select id="regiao" name="CA15_REGIAO">
                        <option value="">Escolha um</option>
                        <option value="Centro-Oeste">Centro-Oeste</option>
                        <option value="Nordeste">Nordeste</option>
                        <option value="Norte">Norte</option>
                        <option value="Sudeste">Sudeste</option>
                        <option value="Sul">Sul</option>
                    </select>

                    <label for="celular">Celular:</label>
                    <input type="text" id="celular" name="CA15_CELULAR">

                    <label for="estilo_musical">Estilo Musical:</label>
                    <select id="estilo_musical" name="CA15_ESTILO_MUSIC">
                        <option value="">Escolha um</option>
                        <option value="Black Music">Black Music</option>
                        <option value="Blues/Jazz">Blues/Jazz</option>
                        <option value="Forró eletrônico">Forró eletrônico</option>
                        <option value="Forró pé de serra/Xote">Forró pé de serra/Xote</option>
                        <option value="Funk">Funk</option>
                        <option value="Gospel">Gospel</option>
                        <option value="Hard Rock/Metal">Hard Rock/Metal</option>
                        <option value="MPB">MPB</option>
                        <option value="Piseiro">Piseiro</option>
                        <option value="Pop">Pop</option>
                        <option value="Pop Rock">Pop Rock</option>
                        <option value="Rap">Rap</option>
                        <option value="Reggae">Reggae</option>
                        <option value="Rock Alternativo">Rock Alternativo</option>
                        <option value="Samba/Pagode">Samba/Pagode</option>
                        <option value="Sertanejo">Sertanejo</option>
                        <option value="Trap">Trap</option>
                        <option value="Outro estilo">Outro estilo</option>
                    </select>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div id="resultado"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="../static/ClientScript.js"></script>
</body>
</html>